.header__ul {
	display: flex;
	width: 70%;
	justify-content: space-between;
	margin: 0 10px;
	padding: 0;
}
.header__nav {
	margin-right: 15%;
	display: flex;
	align-items: center;
}
.header__login {
	margin-left: auto;
	width: 20%;
}
.menu__items {
	padding: 0 2em 0em;
}
