.header__intro {
	display: flex;
	margin: 2% 5% 2% 5%;
	justify-content: space-between;
	/* max-width: 1500px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
}
.header__intro > h1 {
	font-size: 68px;
}
.header__intro > button {
	background-color: #2bcdc5;
	color: white;
}
.header__info {
	display: flex;
	flex-direction: column;
}
.header__image {
	width: 45%;
}
.get__started__button {
	background-color: aqua !important;
	border-radius: 50px !important;
	margin: 10px;
	width: 150px;
}
