/* .header {
	margin: 2% 5% 2% 5%;
} */
/* .header__login {
	display: flex;
	justify-content: space-between;
} */
/* .header__nav {
	display: flex;
	justify-content: space-between;
} */

.header__intro {
	display: flex;
	margin: 2% 5% 2% 5%;
	justify-content: space-between;
}
.header__intro > h1 {
	font-size: 168px;
}
.header__intro > button {
	background-color: #2bcdc5;
	color: white;
}
.header__info {
	display: flex;
	flex-direction: column;
}
.header__image {
	width: 45%;
}
.get__started__button {
	background-color: rgb(17, 71, 71) !important;
	/* border-radius: 50px; */
}
