.search__container {
	display: flex;
	align-items: center;
	margin: 2% 5% 2% 5%;
	justify-content: space-between;
}
form {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
p {
	margin: 5%;
	background-color: aqua;
}
input {
	width: 800px;
	height: 40px;
}
.search__container > button {
	background-color: aqua !important;
	border-radius: 50px !important;
	margin: 10px;
}
.shorten_it_button {
	background-color: aqua !important;
	border-radius: 50px !important;
	margin: 20px;
	width: 150px;
	color: white !important;
}
.shorten__input {
	display: flex;
	max-width: 100%;
}
.return__result {
	display: flex;
	flex-direction: column;
}
