.shorten__it__button {
	background-color: hsl(180, 66%, 49%) !important;
	border-radius: 50px !important;
	margin: 10px;
	font-weight: bold;
}

.boosts {
	position: relative;
	background: green;
	color: #fff;
	//width: 100px;
}

.boosts .mobile__background {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	max-height: 300px;
}

.boosts .container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 2rem;
	min-height: 300px;
	z-index: 10;
}

.boosts .container h2 {
	font-size: 1.5rem;
}

.boosts .desktop__background {
	display: none;
}

@media (min-width: 1027px) {
	.boosts .container {
		gap: 0.5rem;
	}
	.boosts .container h2 {
		font-size: 2.5rem;
	}
	.boosts .mobile__background {
		display: none;
	}
	.boosts .desktop__background {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		right: 0px;
		z-index: 1;
	}
}
