*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}

body,
div,
ul {
	padding: 0;
	margin: 0;
}
.statistics {
	padding: 6rem 0rem 8rem 0rem;
}
.statistics .container {
	display: -ms-grid;
	display: grid;
	grid-gap: 6rem;
}
.statistics .statistics__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.statistics .statistics__heading {
	margin: 0px;
	font-size: 2rem;
}

.statistics .statistics__subtitles {
	margin: 0.6rem;
	font-size: 1.3rem;
	max-width: 45ch;
}

.statistics .statistic-cards {
	position: relative;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: hsl(180, 66%, 49%);
	margin-top: 10rem;
	margin-bottom: 10rem;
	gap: 7rem;
	width: 0.6rem;
}

@media screen and (min-width: 1027px) {
	.statistics .statistic-cards {
		font-size: 0.9rem;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		height: 0.6rem;
		width: 100%;
		gap: 3rem;
	}
	.statistics .statistic-cards .statistic {
		min-width: auto;
	}
	.statistics .statistic-cards > :nth-child(2) {
		top: 2rem;
	}
	.statistics .statistic-cards > :nth-child(3) {
		top: 3rem;
	}
}

.statistics .statistic {
	position: relative;
	padding: 3rem 1rem 1rem 1rem;
	border-radius: 0.4rem;
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-height: 375px;
	min-width: 90vw;
}

.statistics .statistic img {
	position: absolute;
	top: -44px;
	border-radius: 50%;
	padding: 2rem;
	background: hsl(257, 27%, 26%);
}

.statistics .statistic h3 {
	font-size: 1.6em;
}

.statistics .statistic p {
	font-size: 1.3em;
}
